# Vercel Postgres - for reddit-ops
# 创建数据库后，Vercel会自动设置环境变量
POSTGRES_URL=
POSTGRES_PRisma_URL=
POSTGRES_URL_NO_SSL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# MiniMax API
MINIMAX_API_KEY=sk-cp-ay979ATn71LK52-r38V5tum9nCH4SBe5RuMBXYYog9E4I1f6D-yFhmnAp7GaGAPTf-Ib7kwlqBOd6wktwdoRSlZf8Ykbmvaq8CQhokcxUeMzuiFiZBOs910

# Apify
APIFY_API_TOKEN=

# Auth
AUTH_USERNAME=
AUTH_PASSWORD=
AUTH_SECRET=
